<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form>
  <label for="fname">Nombre:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Apellido:</label><br>
  <input type="text" id="lname" name="lname"><br>
  <label for="edad">Edad:</label><br>
  <input type="text" id="edad" name="edad"><br><br>
  <input type="submit" value="Validar">
</form>

<%=
users = [['Jaime', 'loco', '43'], ['Aaime', 'loco', '32']]
if servlet_request.query['fname'] and servlet_request.query['fname'] != ""
  users.push([servlet_request.query['fname'], servlet_request.query['lname'], servlet_request.query['edad']])
  users = users.sort_by{|a| a[2]}
  i = 0
  while i < users.size
    if (users[i][0] == servlet_request.query['fname'] and users[i][1] == servlet_request.query['lname'])
      break
    end
    i += 1
  end
  res = users.size - i - 1
  "Hola, " + servlet_request.query['fname'] + ", tiene mas edad que " + (i).to_s + " personas y menos edad que " + (res).to_s + " personas"
end
%>

</body>
</html>