<!DOCTYPE html>
<html>
<head>
<title>Table</title>
</head>
<body>

<center>
<h1>Piscine Web</h1>
</center>

<p>Las etiquetas HTML respetan una sintaxis sencilla y estricta:</p>
<ul>
  <li>Ün ángulo de apertura (<)</li>
  <li>el nombre de la etiqueta</li>
  <li>Atributos (opcionales)</li>
  <li>Ün ángulo de cierre (>)</li>
</ul>

<a href="https://www.youtube.com/watch?v=INscMGmhmX4"><img title="titulo1" src="../../img/download1.jpeg" alt="lol"/></a>
<a href="https://www.youtube.com/watch?v=INscMGmhmX4">Texto personalizado</a>
<img title="titulo2" src="../../img/download2.jpeg" alt="lul" />

<a href="http://localhost:8080/web02/ex02/colorful.rhtml">Link to other page</a>

<br></br>
<br></br>

<hr>
<!-- Esto es un comentario -->

</body>
</html>
